.landing, .button, .navbar-fixed-top {
  background-color: #ff5a5f; }

.index-container li a, .menu a, .menu a:visited, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, a, ul.nav li.dropdown:hover > a {
  color: #ff5a5f; }

a:active, a:hover, .menu a:hover {
  color: #ff272e; }

.tt-menu:before {
  border-bottom-color: #ff5a5f; }
